<% provide(:title, @recipe.name) %>
<h3><%= @recipe.name.upcase %></h3>
<div class="editcenter"> 
<h4>What and how do you want to edit the Recipe</h4>
<br/>
<ul >
<li > Alter the name or number of servings of the recipe? </li>
<p class="editcenter"><%= link_to "Yes",edit_recipe_path(@recipe) %></p>

<li> Delete a classification of the recipe? </li>
<br/>
<div class="center">
	<table>
		<tr>
			<th>Classification</th>
			<th>Delete?</th>	
		</tr>
			<% @descriptions.each do |d| %>
			<tr>
				<td><%= d.classification%></td>
				<td><%= link_to 	"Yes",destroy_description_path(:id => d.id), :method => :delete %></td>
			</tr>
			<% end %>
	</table>
</div>
<br/>

<li> Add a classification for the recipe? </li>
<p class="center"><%= link_to "Yes",edit_description_path(:id => @recipe.id) %></p>

<li> Alter the name or amount of the following ingredients of the recipe? </li>
<br/>
<div class="center">
	<table>
		<tr>
			<th>Ingredient</th>
			<th>Amount</th>
			<th>Edit?</th>	
			<th>Delete?</th>	
		</tr>
			<% @ingredients.each do |ingredient| %>
			<tr>
				<td><%= ingredient.name%></td>
				<td><%= ingredient.amount%></td>
				<td><%= link_to 	"Yes",edit_ingredient_path(ingredient)%></td>
				<td><%= link_to 	"Yes",destroy_ingredient_path(:id => ingredient.id), :method => :delete %></td>
			</tr>
			<% end %>
	</table>
</div>
<br/>
<li> Add an ingredient to the recipe? </li>
<p class="center"><%= link_to "Yes",edit_add_ingredient_path(:id => @recipe.id) %></p>

<li> Alter the order or process of the following steps of the recipe? </li>
<br/>
<div class="center">
	<table>
		<tr>
			<th>Step</th>
			<th>Process</th>
			<th>Edit?</th>
			<th>Delete?</th>	
		</tr>
			<% @steps.each do |step| %>
			<tr>
				<td><%= step.order%></td>
				<td><%= step.process%></td>
				<td><%= link_to "Yes",edit_step_path(step)%></td>
				<td><%= link_to 	"Yes",destroy_step_path(:id => step.id), :method => :delete %></td>
			</tr>
			<% end %>
	</table>
</div>
<li> Add a step to the recipe? </li>
<p class="center"><%= link_to "Yes",edit_add_step_path(:id => @recipe.id) %></p>
</ul>

<br/>
 <p><b>Or if you have finished editing</b> <div class="right"><%= link_to "Index",index_recipes_path %><div>
  </p>
 </div>