<% provide(:title, @recipe.name+' Edit') %>
<h1>Editing <%= @recipe.name.upcase %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@recipe) do |f| %>

		<p><b>Current Name : </b> <%= @recipe.name %></p>
      <%= f.label :name %>
      <%= f.text_field :name %>
	  <br/>
	  <p><b>Current Blog : </b> <%= @recipe.blog %></p>
      <%= f.label :blog %>
      <%= f.text_field :blog %>
	  <br/>
	  <p><b>Current Serves : </b> <%= @recipe.serves %></p>
	  <%= f.label :serves %>
      <%= f.text_field :serves %>
		<br/>
      <%= f.submit "Edit recipe", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>