<% provide(:title, @recipe.name) %>
<h3><%= @recipe.name.upcase %></h3>

<br/>
<p><i><%= @recipe.blog %></i></p>
<br/>
<p><b> Serves : </b><%= @recipe.serves %>   </p>


<p class="right"><%= link_to "Edit Recipe?",edit_recipe_home_path+"/"+@recipe.id.to_s %></p>


<div class="left">
	<h4>Ingredients</h4>
	<table>
		<tr>
			<th>Ingredient</th>
			<th>Amount</th>
		</tr>
		<% @ingredients.each do |ingredient| %>
		<tr>
			<td><%= ingredient.name %></td>
			<td><%= ingredient.amount %></td>
		</tr>
		<% end %>
	</table>
	<% if @ingredients.size == 0 %>
		<em>No ingredients found</em>
	<% end %>
	<br/>
	<br/>
	
	<h4>Steps</h4>
	<table>
		<tr>
			<th>Step </th>
			<th>Process</th>
		</tr>
		<% @steps.each do |step| %>
		<tr>
			<td><%= step.order %></td>
			<td><%= step.process %></td>
		</tr>
		<% end %>
	</table>
	<% if @steps.size == 0 %>
		<em>No steps found</em>
	<% end %>
</div>
<p class="right"><%= link_to "Delete Recipe?",destroy_recipe_path(:id => @recipe.id), :method => :delete %></p>
<p class="center"><%= link_to "Go Back to Recipe Index",index_recipes_path %></p>