<% provide(:title, 'New Recipe Classification') %>
<h1>New Recipe Classification</h1>
<br/>
<h3 class="centre"> Current Classifications</h4>
<% @currentdescriptions.each do |cd| %>
<p class="centre"> <%= cd %></p>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@description) do |f| %>

      <%= f.label :classification %>
      <%= f.text_field :classification %>
	  
	   <%= f.hidden_field :recipe_id, :value => @recipe.id %>
	  
      <%= f.submit "Add classification for new recipe", class: "btn btn-large btn-primary" %>
    <% end %>
	<br/>
  <h4>Or If you are Done with classifying</h4>
    <br/>
  <%= link_to "Start entering ingredients for the recipe!", add_ingredient_path(:id => @recipe.id), class: "btn btn-large btn-primary" %>
  </div>
</div>
