<% provide(:title, 'New Recipe Classification') %>
<h1>New Recipe Classification</h1>
<br/>

<div class="editcenter">
<h4> Current Classifications Available</h4>
<ul>
<% @currentdescriptions.each do |cd| %>
<li > <%= cd %></li>
<% end %>
<% if @currentdescriptions.size == 0 %>
		<em>No classifications found</em>
<% end %>
</ul>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@description) do |f| %>

      <%= f.label :classification %>
      <%= f.text_field :classification %>
	  
	   <%= f.hidden_field :recipe_id, :value => @recipe.id %>
	  
      <%= f.submit "Add classification for new recipe", class: "btn btn-large btn-primary" %>
    <% end %>
  <h4>Or If you are done with classifying</h4>
  <%= link_to "Start entering ingredients for the recipe!", add_ingredient_path(:id => @recipe.id), class: "btn btn-small btn-primary" %>
  </div>
</div>
